
/*Nos traemos la regla CSS background: #235e3d; y añadimos al html link rel: gree.css*/

body{
	background: url('../img/hojas.jpg');
	background-attachment: fixed;
}

#logo{
	background: #235e3d;
}

#menu ul li:hover{
	background: #235e3d;
}

.button-more{
	background: #235e3d;
}

